@import "../Styles/Variables/variable.scss";

.About {
  margin-top: 150px;
  padding-bottom: 150px;

  .about-container {
    .image {
      min-width: 560px;
      min-height: 330px;
      background-color: $mainColor;
      border-radius: 50px 0px 50px 0px;
      opacity: 0.5;
      filter: blur(200px);
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -4;
    }
    .about-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .about-me {
        padding-right: 100px;
        h3 {
          font-size: 24px;
          font-family: $primaryFont;
          color: $textColor;
          font-weight: 700;
          margin-bottom: 25px;
          span {
            color: $mainColor;
          }
        }

        p {
          color: $textColor;
          font-family: $secondaryFont;
          font-size: 18px;
          font-weight: 200;
          line-height: 38px;
          margin-bottom: 25px;
          span {
            color: $mainColor;
          }
        }

        button {
          @include buttonStyle();
          transition: all ease-in-out 0.5s;

          &:hover {
            background-color: transparent;
            border: 1px solid $mainColor;
            color: $mainColor;
          }
        }
      }

      .my-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .About {
    margin-top: 130px;
    padding-bottom: 130px;

    .about-container {
      .about-wrapper {
        .about-me {
          padding-right: 40px;
          h3 {
            font-size: 22px;
          }

          .my-image {
            height: 90%;
            img {
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .About {
    margin-top: 100px;
    padding-bottom: 60px;
    .about-container {
      .about-wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;

        .about-me{
            padding-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .About {
    margin-top: 90px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .About {
    margin-top: 80px;
  }
}
