@import "../Styles/Variables/variable.scss";

.header-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding-left: 90px;
  padding-right: 90px;

  .logo {
    h1 {
      font-family: $primaryFont;
      font-weight: 700;
      color: $textColor;
      transition: all ease-in-out 0.5s;

      &:hover {
        letter-spacing: 2px;
      }

      span {
        color: $mainColor;
      }
    }
  }

  .links {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;

    li {
      color: $textColor;
      font-family: $secondaryFont;
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        height: 2px;
        background-color: $mainColor;
        width: 0%;
        bottom: -7px;
        transition: all ease-in 0.2s;
      }

      &:hover::before {
        width: 100%;
      }
    }

    .btn {
      @include buttonStyle();
      transition: all ease-in-out 0.2s;

      &:hover {
        border: 1px solid $mainColor;
        color: $mainColor;
        background-color: transparent;
      }
    }
  }

  .menu {
    width: 25px;
    height: 25px;
    display: none;

    img {
      width: 100%;
      height: 100%;
      color: $mainColor;
    }
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
    .logo {
      h1 {
        font-size: 26px;
      }
    }

    .links {
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 99;
      background-color: $backgroundColor;
      transform: translateX(100%);
      opacity: 0;
      transition: all cubic-bezier(1, -0.63, 0, 1.27) 1s;
    }

    .menu {
      display: block;
    }
    .active {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 950px) {
  .header-container {
    padding-left: 30px;
    padding-right: 30px;
    .logo {
      h1 {
        font-size: 26px;
      }
    }

    .links {
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: $backgroundColor;
      transform: translateX(100%);
      opacity: 0;
      transition: all cubic-bezier(1, -0.63, 0, 1.27) 1s;
    }

    .menu {
      display: block;
    }
    .active {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 320px) {
  .header-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
