@import "../Styles/Variables/variable.scss";

.Skills {
  margin-top: 80px;
  padding-bottom: 80px;

  .skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .skills-heading {
      margin-bottom: 55px;
      h3 {
        font-size: 30px;
        font-family: $primaryFont;
        color: $textColor;
        font-weight: 700;
        letter-spacing: 0.2em;

        span {
          color: $mainColor;
        }
      }
    }

    .skill-card-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .skill-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0px;

        &:hover {
          background-color: rgba(22, 168, 168, 0.07);
          transition: all ease-in-out 0.5s;
        }

        h4 {
          font-size: 16px;
          font-family: $primaryFont;
          font-weight: 400;
          color: $mainColor;
          letter-spacing: 0.2em;
        }

        img {
          max-height: 55px;
          max-width: 130px;
          margin-bottom: 15px;
        }
      }

      .html {
        border: 1px solid $mainColor;
        border-top: transparent;
        border-left: transparent;
      }

      .css {
        border: 1px solid $mainColor;
        border-top: transparent;
        border-bottom: transparent;
        border-left: transparent;
      }

      .jquery {
        border: 1px solid $mainColor;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
      }

      .react {
        border: 1px solid $mainColor;
      }

      .xd {
        border: 1px solid $mainColor;
        border-left: transparent;
        border-right: transparent;
      }

      .figma {
        border: 1px solid $mainColor;
        border-top: transparent;
        border-left: transparent;
        border-bottom: transparent;
      }

      .ps {
        border: 1px solid $mainColor;
        border-top: transparent;
        border-left: transparent;
        border-bottom: transparent;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .Skills {
    .skills-container {
      .skills-heading {
        margin-bottom: 50px;
      }

      .skill-card-wrapper {
        .skill-card {
          padding: 90px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .Skills {
    margin-top: 60px;
    padding-bottom: 60px;
    .skills-container {
      .skills-heading {
        margin-bottom: 45px;
        h3 {
          font-size: 28px;
        }
      }

      .skill-card-wrapper {
        .skill-card {
          padding: 80px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Skills {
    margin-top: 40px;
    padding-bottom: 40px;
    .skills-container {
      .skills-heading {
        h3 {
          font-size: 22px;
        }
      }

      .skill-card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        .skill-card {
          padding: 30px 0px;
          img {
            max-height: 45px;
            max-width: 100px;
            margin-bottom: 15px;
          }
        }
        .html,
        .css,
        .figma,
        .jquery,
        .ps,
        .react,
        .xd,
        .js {
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .Skills {
    margin-top: 40px;
    padding-bottom: 40px;
    .skills-container {
      .skill-card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        .skill-card {
          h4 {
            font-size: 14px;
            letter-spacing: 0;
          }
          padding: 25px 0px;
        }
      }
    }
  }
}
