@import "./Styles/Variables/variable.scss";

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

// Background Color
body {
  background-color: $backgroundColor;
  overflow-x: hidden;
  position: relative;
}

html{
  overflow-x: hidden;
}